:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6fa;
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #ef6969;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}

.menu-item.active {
  background: white;
  color: #ef6969;
  font-weight: bold;
}

/*  MAIN  */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: white;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

/* CONTENT LAYOUT  */
.content {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Left task list */
.task-list {
  width: 45%;
  padding: 20px;
  background: white;
  border-radius: 16px;
  border: 1px solid #e1e3e8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-item {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 14px;
  cursor: pointer;
}

.task-item.selected {
  border-color: #ef6969;
  background: #ffeaea;
}

/* Right details */
.task-details {
  flex: 1;
  padding: 20px;
  background: white;
  border-radius: 16px;
  border: 1px solid #e1e3e8;
  color: #444;
}

.task-details h3 {
  margin-bottom: 10px;
  color: #222;
}
.task-details p {
  margin: 8px 0;
}

/*  RESPONSIVE */
@media (max-width: 850px) {
  .content {
    flex-direction: column;
  }
  .task-list {
    width: 100%;
  }
}